<% content_for :breadcrumb do %>
<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li><a href="dashboard.html">Dashboard</a> <span class="divider">/</span></li>
      <li><a class="active" href="#">Carregar arquivo</a> <span class="divider">/</span></li>
    </ul>
  </div>
</div>
<% end -%>
<%= form_tag(url_for_options = {action: :create, controller: :information}, options = {:multipart => true}) do %>
	<h3>Carregar arquivo</h3>
	<form class="form-inline">
	  <%= file_field_tag :file %>
	  <hr>
	  <button type="submit" class="btn"><i class="icon-download"></i> Enviar</button>
<% end %>

<%= link_to 'Back', information_index_path %>
